
/* Color values */

$white: #fff;
$black: #000;
$darkgrey: #333;
$mediumgrey: #777;
$lightgrey: #ddd;
$turqoise: #149ba7;


/* Color types */

$bgcolor: $turqoise;
$textcolor: $white;


/* Typography */

$basefont: 'vpro_vesta', sans-serif;
$titlefont: 'simplistic_sans', sans-serif;