/** @start search box */

.mobile-search-box {
    padding-top: 1em;
}

.mobile-search-submit {
    border-radius: 0;
    border: 0;
    width: 100%;
    font-size: 1.5em;
    outline: none;
}

.mobile-search-submit.btn-primary {
    background-color: $white;
    color: $turqoise;
}

.mobile-search-submit.btn-primary:active,
.mobile-search-submit.btn-primary:hover {
    background-color: $darkgrey;
}

/** @end search box */


/** @start results */

.mobile-search-results.loading {
    background: url('../img/loader-oval.svg') no-repeat top center;
    background-size: contain;
    height: 60px;
    margin-top: 20px;
}

.mobile-search-results-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;
}

.mobile-search-results-listing {
    list-style: none;
    padding: 0;
}

.mobile-search-result {
    display: block;
    float: left;
    width: 50%;
}

.mobile-search-results-header {
    padding: 10px;
}

.mobile-search-results-footer {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;

    height: 30px;

    background-color: rgba( $white, 0.7 );
    color: $darkgrey;
}

/** @end results */