
<div class="mobile-intro">
    <div>
        <h1 class="mobile-intro-header">Historead</h1>
        <p class="mobile-intro-description">
            You don't have to visit a museum, the museum can come to you.
        </p>
        <p class="mobile-intro-description">
            'Historead' delivers you location based cultural,
            historical content on the go.
        </p>
    </div>

    <div class="mobile-search-box">
        <form class="mobile-search-form form-inline">
            <button type="submit" class="mobile-search-submit btn btn-primary">Get my location and go!</button>
        </form>
    </div>
</div>

<div class="mobile-search-results row"></div>

<div class="mobile-detail"></div>