<div>
    <div class="page-header">
        <h2>Total results</h2>
    </div>

    {{^results}}
        <p>
            No results :(
        </p>
    {{/results}}
    <ul class="service-results">

        {{#results}}

        <li class="{{type}}-result">

            {{#previewLink}}<a href="{{.}}"><span class="glyphicon glyphicon-play"></span> {{title}}</a><br/>{{/previewLink}}
            {{^previewLink}}{{title}}{{/previewLink}}
            <a href="{{link}}">(raw JSON)</a>

            {{#if isAudio}}
                {{#id}}
                    <div class="mid" data-mid="{{.}}">
                        ♬ {{.}}<br/>
                        <div class="audioplayer"></div>
                    </div>
                {{/id}}
            {{/if}}

            {{#if is3d}}{{/if}}

            {{#if isImage}}
                {{#thumbnail}}
                    <div class="result-image">
                        <img src="{{.}}">
                    </div>
                {{/thumbnail}}
            {{/if}}

        </li>

        {{/results}}

    </ul>
</div>